body {
  background-color: lightblue;
  font-family: sans-serif;
}

h1, h2, h3 {
  font-weight: 400;
  margin: 0;
}

h1 { font-size: 4em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }

button {
  background-color: lightgray;
  border: none;
  text-transform: uppercase;
  font-size: 1.2em;
  padding: 0.5em 1em;
  font-weight: 600;
  border-radius: 0.6em;
  border-bottom: 0.3em solid gray;
  user-select: none;
  cursor: pointer;
  outline: none;
  position: relative;
  margin-bottom: 0.8em;
}

button::-moz-focus-inner {
  border: 0;
}

button:active {
  top: 0.3em;
  border-bottom: none;
}

button.green {
  background-color: yellowgreen;
  border-bottom-color: green;
  color: white;
}

button.red {
  background-color: tomato;
  border-bottom-color: darkred;
  color: white;
}

button.yellow {
  background-color: gold;
  border-bottom-color: goldenrod;
}

.wrapper {
  padding: 20px;
  max-width: 700px;
  margin: 100px auto;
  background-color: white;
  border-radius: 20px;
}

.controls {
  padding: 1em 0;
  height: 4em;
}

.controls > button {
  margin-right: 1em;
}

.log {
  border-top: 1px solid lightgray;
  padding-top: 1em;
}

.log > ul {
  padding-left: 0;
  list-style: none;
}

.log > ul li {
  padding: 0.4em 0;
  text-transform: capitalize;
  cursor: pointer;
}

.log > ul li .remove {
  color: lightgray;
  text-transform: lowercase;
  opacity: 0;
}

.log > ul li:hover .remove {
  opacity: 1;
}